// @import url(./globals.css);
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

// .comfortaa-400 {
//   font-family: "Comfortaa", sans-serif;
//   font-optical-sizing: auto;
//   font-weight: 400;
//   font-style: normal;
// }
html.light {
  body {
    .text-generate-effect span, .content p {
      color: #fff;
    }
    .to-white {
      --tw-gradient-to: #000 var(--tw-gradient-to-position)
    }
  }
}
// html.dark {
//   body {
    
//   }
// }
body {
  main {
    .main-nav {
      backdrop-filter: blur(16px) saturate(180%);
      background-color: rgba(17, 25, 40, 0.75);
      border-radius: 12px;
      border: 1px solid rgba(255, 255, 255, 0.125);
      opacity: 1;
      transform: none;
      >a {
        span {
          --tw-text-opacity: 1;
          color: rgb(250 250 250 / var(--tw-text-opacity));
        }
      }
    }
    padding: 0;
    .globe-home {
      >div {
        position: unset;
      }
    }
    .h-screen {
      height: 250px;
    }
    .content {
      font-family: comfortaa;

      p {
        margin: 10px 0;
      }
    }
    .post-content {
      h2 {
        font-size: 1.35rem;
      }
      h3, h4 {
        font-size: 1.3rem;
      }
      .content-body {
        p, li, a, span {
          font-size: 1.25rem;
          margin: 10px auto;
        }
      }
    }
    .footer-area {
      background: rgba(0, 0, 0, 0.5);
      p {
        width: 320px;
        margin: 0 auto;
      }
      .price {
        padding: 15px 0;
      }
    }
    ul.main-menu {
      margin: 0.3rem auto;
      li, svg {
        display: inline-block;
      }
      li {
        margin: 10px;
      }
    }
  }
}

// Dekstop

@media only screen and (min-width: 770px) {
  body {
    main {
      .show-mobile {
        display: none;
      }
      .blog-posts {
        padding: 0 10%;
      }
    }
  }
}

// Mobile

@media only screen and (max-width: 650px) {
  body {
    .show-dekstop {
      display: none;
    }
    .show-mobile {
      position: relative;
      top: 425px;
    }
    main {
      // .page-title {
        // font-size: 0.6rem;
      // }
      .sub-title {
        padding-top: 30px;
      }
      ul.main-menu {
        margin: 1.1rem auto;
        padding-top: 30px;
        li {
          margin: 7px;
        }
      }
      .blog-posts {
        .show-mobile {
          position: relative;
          top: 120px;
        }
        .page-title {
          margin-top: 140px;
          margin-bottom: 50px;
        }
        >section {
          >div {
            margin-bottom: 50px;
          }
        }
      }
      .footer-area {
        padding-top: 0;
      }
    }
    .top-logo {
      top: -515px;
      margin: 0 auto;
      // left: 25%;
    }
    .logos-container {
      width: 100%;
      height: 350px;
      top: -318px;
      .wp, .react {
        display: block;
      }
      .wp {
        position: relative;
        top: -90px;
        margin: 0 auto;
      }
      .react {
        width: 200px;
        position: relative;
        top: -88px;
        margin: 0 auto;
        left: auto;
      }
    }
  }
}

// React logo

  .logos-container{
    width: 48%;
    margin: 0 auto; 
    position: absolute;
    top: -360px;
    .wp, .react {
      display: inline-block;
    }
    .wp {
      width: 300px;
    }
    .react{
      left: 41%;
      width:150px;
      height:150px;
      margin-left: 15%;
      margin-bottom: 52px;
      // display:flex;
      align-items: center;
      justify-content: center;
    }
  }
  .react-logo{
    display: inline-block;
    border-radius:50%;
    border:10px solid #00d8ff;

    animation-name:rotate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

  }

  .react-logo , .react-logo:before , .react-logo:after{
    position:absolute;
    display: inline-block;
    width:200px;
    height:70px;
    border-radius:50%;
    border:10px solid #00d8ff;
  }

  .nucleo , .react-logo , .react-logo:before , .react-logo:after {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nucleo{
    width:40px;
    height:40px;
    border-radius:100%;
    background:#00d8ff;
  }

  .react-logo:before , .react-logo:after{
    content:"";
  }

  .react-logo:after{
    transform:rotate(-57deg);
  }

  .react-logo:before{
    transform:rotate(57deg);
  }
  
.title{
  font-size:60px;
  background:#222;
  color:#00d8ff;
  width:250px;
  margin:2px auto;
  text-align:center;
}

  @keyframes rotate{

    100%{
      transform:rotate(360deg);
    }
  }

// Original css
// @layer base {
//   :root {
//     --background: 0 0% 100%;
//     --foreground: 240 10% 3.9%;

//     --card: 0 0% 100%;
//     --card-foreground: 240 10% 3.9%;

//     --popover: 0 0% 100%;
//     --popover-foreground: 240 10% 3.9%;

//     --primary: 240 5.9% 10%;
//     --primary-foreground: 0 0% 98%;

//     --secondary: 240 4.8% 95.9%;
//     --secondary-foreground: 240 5.9% 10%;

//     --muted: 240 4.8% 95.9%;
//     --muted-foreground: 240 3.8% 46.1%;

//     --accent: 240 4.8% 95.9%;
//     --accent-foreground: 240 5.9% 10%;

//     --destructive: 0 84.2% 60.2%;
//     --destructive-foreground: 0 0% 98%;

//     --border: 240 5.9% 90%;
//     --input: 240 5.9% 90%;
//     --ring: 240 10% 3.9%;

//     --radius: 0.5rem;
//   }

//   .dark {
//     --background: 240 10% 3.9%;
//     --foreground: 0 0% 98%;

//     --card: 240 10% 3.9%;
//     --card-foreground: 0 0% 98%;

//     --popover: 240 10% 3.9%;
//     --popover-foreground: 0 0% 98%;

//     --primary: 0 0% 98%;
//     --primary-foreground: 240 5.9% 10%;

//     --secondary: 240 3.7% 15.9%;
//     --secondary-foreground: 0 0% 98%;

//     --muted: 240 3.7% 15.9%;
//     --muted-foreground: 240 5% 64.9%;

//     --accent: 240 3.7% 15.9%;
//     --accent-foreground: 0 0% 98%;

//     --destructive: 0 62.8% 30.6%;
//     --destructive-foreground: 0 0% 98%;

//     --border: 240 3.7% 15.9%;
//     --input: 240 3.7% 15.9%;
//     --ring: 240 4.9% 83.9%;
//   }
// }

// @layer base {
//   * {
    // @apply border-border !scroll-smooth;
//   }
//   body {
//     @apply bg-background text-foreground;
//   }
//   button {
//     @apply active:outline-none;
//   }
// }

@layer utilities {
  .heading {
    @apply font-bold text-4xl md:text-5xl text-center;
  }

  .black-gradient {
    background: linear-gradient(90deg, #161a31 0%, #06091f 100%);
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}