// @import url(./globals.css);
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  main {
    padding: 0;
    .globe-home {
      >div {
        position: unset;
      }
    }
    .h-screen {
      height: 250px;
    }
    .content {
      p {
        margin: 10px 0;
      }
    }
    .footer-area {
      // padding-top: 55px;
      width: 320px;
      margin: 0 auto;
      .price {
        padding: 15px 0;
      }
    }
    ul.main-menu {
      margin: 0.3rem auto;
      li, svg {
        display: inline-block;
      }
      li {
        margin: 10px;
      }
    }
  }
}

// Dekstop

@media only screen and (min-width: 770px) {
  .show-mobile {
    display: none;
  }
}

// Mobile

@media only screen and (max-width: 650px) {
  body {
    .show-dekstop {
      display: none;
    }
    .show-mobile {
      position: relative;
      top: 425px;
    }
    main {
      .page-title {
        font-size: 0.6rem;
      }
      .sub-title {
        padding-top: 30px;
      }
      ul.main-menu {
        margin: 1.1rem auto;
        padding-top: 30px;
        li {
          margin: 7px;
        }
      }
      .footer-area {
        padding-top: 0;
      }
    }
    .top-logo {
      top: -515px;
      margin: 0 auto;
      // left: 25%;
    }
    .logos-container {
      width: 100%;
      height: 350px;
      top: -318px;
      .wp, .react {
        display: block;
      }
      .wp {
        position: relative;
        top: -90px;
        margin: 0 auto;
      }
      .react {
        width: 200px;
        position: relative;
        top: -88px;
        margin: 0 auto;
        left: auto;
      }
    }
  }
}

// React logo

  .logos-container{
    width: 48%;
    margin: 0 auto; 
    position: absolute;
    top: -360px;
    .wp, .react {
      display: inline-block;
    }
    .wp {
      width: 300px;
    }
    .react{
      left: 41%;
      width:150px;
      height:150px;
      margin-left: 15%;
      margin-bottom: 52px;
      // display:flex;
      align-items: center;
      justify-content: center;
    }
  }
  .react-logo{
    display: inline-block;
    border-radius:50%;
    border:10px solid #00d8ff;

    animation-name:rotate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

  }

  .react-logo , .react-logo:before , .react-logo:after{
    position:absolute;
    display: inline-block;
    width:200px;
    height:70px;
    border-radius:50%;
    border:10px solid #00d8ff;
  }

  .nucleo , .react-logo , .react-logo:before , .react-logo:after {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nucleo{
    width:40px;
    height:40px;
    border-radius:100%;
    background:#00d8ff;
  }

  .react-logo:before , .react-logo:after{
    content:"";
  }

  .react-logo:after{
    transform:rotate(-57deg);
  }

  .react-logo:before{
    transform:rotate(57deg);
  }
  
.title{
  font-size:60px;
  background:#222;
  color:#00d8ff;
  width:250px;
  margin:2px auto;
  text-align:center;
}

  @keyframes rotate{

    100%{
      transform:rotate(360deg);
    }
  }

// Original css
// @layer base {
//   :root {
//     --background: 0 0% 100%;
//     --foreground: 240 10% 3.9%;

//     --card: 0 0% 100%;
//     --card-foreground: 240 10% 3.9%;

//     --popover: 0 0% 100%;
//     --popover-foreground: 240 10% 3.9%;

//     --primary: 240 5.9% 10%;
//     --primary-foreground: 0 0% 98%;

//     --secondary: 240 4.8% 95.9%;
//     --secondary-foreground: 240 5.9% 10%;

//     --muted: 240 4.8% 95.9%;
//     --muted-foreground: 240 3.8% 46.1%;

//     --accent: 240 4.8% 95.9%;
//     --accent-foreground: 240 5.9% 10%;

//     --destructive: 0 84.2% 60.2%;
//     --destructive-foreground: 0 0% 98%;

//     --border: 240 5.9% 90%;
//     --input: 240 5.9% 90%;
//     --ring: 240 10% 3.9%;

//     --radius: 0.5rem;
//   }

//   .dark {
//     --background: 240 10% 3.9%;
//     --foreground: 0 0% 98%;

//     --card: 240 10% 3.9%;
//     --card-foreground: 0 0% 98%;

//     --popover: 240 10% 3.9%;
//     --popover-foreground: 0 0% 98%;

//     --primary: 0 0% 98%;
//     --primary-foreground: 240 5.9% 10%;

//     --secondary: 240 3.7% 15.9%;
//     --secondary-foreground: 0 0% 98%;

//     --muted: 240 3.7% 15.9%;
//     --muted-foreground: 240 5% 64.9%;

//     --accent: 240 3.7% 15.9%;
//     --accent-foreground: 0 0% 98%;

//     --destructive: 0 62.8% 30.6%;
//     --destructive-foreground: 0 0% 98%;

//     --border: 240 3.7% 15.9%;
//     --input: 240 3.7% 15.9%;
//     --ring: 240 4.9% 83.9%;
//   }
// }

// @layer base {
//   * {
    // @apply border-border !scroll-smooth;
//   }
//   body {
//     @apply bg-background text-foreground;
//   }
//   button {
//     @apply active:outline-none;
//   }
// }

@layer utilities {
  .heading {
    @apply font-bold text-4xl md:text-5xl text-center;
  }

  .black-gradient {
    background: linear-gradient(90deg, #161a31 0%, #06091f 100%);
  }
}